+ Title: Drop level from a multi-level column index
+ Author: Gaurav Modi
+ Date: 2018-02-15
+ Modified: 2018-02-15
+ Description: "Drop level from a multi-level column index in python(pandas)"
+ Slug: drop-multi-level-column-index
+ Tags: multi-level-index, python, pandas,

### Importing packages

In [1]:
import pandas as pd

In [2]:
cols = pd.MultiIndex.from_tuples([("a", "b"), ("a", "c")])
df = pd.DataFrame([[1,2], [3,4]], columns=cols)
df

   a
   b  c
0  1  2
1  3  4

In [3]:
print(df.columns)

MultiIndex(levels=[['a'], ['b', 'c']],
           labels=[[0, 0], [0, 1]])

In [4]:
# dropping multilevel column index using pandas function
df.columns = df.columns.droplevel()
df

   b  c
0  1  2
1  3  4

### OR

In [5]:
# rewriting columns
df.columns = ['b', 'c']
df

   b  c
0  1  2
1  3  4