+ Title: Second or N-th highest value in Groupby
+ Author: Gaurav Modi
+ Date: 2018-02-25
+ Modified: 2018-02-25
+ Description: "Evaluating Second highest value in Groupby in python(pandas)"
+ Slug: second-highest-value-in-groupby
+ Tags: groupby, python, pandas,
+ status: draft

### Importing packages

In [1]:
import numpy as np
import pandas as pd
pd.options.display.width = 1000

### Creating sample dataframe

In [2]:
df = pd.DataFrame(
    {'shop': [101, 101, 101, 101, 102, 102, 102, 102, 103, 103, 103, 103],
     'price': [75, 150, 200, 300, 300, 600, 800, 900, 1000, 1200, np.nan, np.nan]})

### Group By

In [3]:
grouped = df.groupby('shop')['price']
print(type(grouped))

<class 'pandas.core.groupby.SeriesGroupBy'>

`nsmallest`: Get the rows sorted by the n smallest values of columns.
<p>Refer: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.nsmallest.html

### Calculating Nth lowest value in each group

In [4]:
df['second_lowest'] = grouped.transform(lambda x: x.nsmallest(2).max())

df['third_lowest'] = grouped.transform(lambda x: x.nsmallest(3).max())

In [5]:
df

     price  shop  second_lowest  third_lowest
0     75.0   101          150.0         200.0
1    150.0   101          150.0         200.0
2    200.0   101          150.0         200.0
3    300.0   101          150.0         200.0
4    300.0   102          600.0         800.0
5    600.0   102          600.0         800.0
6    800.0   102          600.0         800.0
7    900.0   102          600.0         800.0
8   1000.0   103         1200.0        1200.0
9   1200.0   103         1200.0        1200.0
10     NaN   103         1200.0        1200.0
11     NaN   103         1200.0        1200.0